/* Reset some default browser styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
}

/* Header styles */
header {
    background-color: #333;
    color: white;
    padding: 10px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    max-height: 50px;
    margin-right: 10px;
}

.logo h1 {
    font-size: 1.5rem;
}

.contact a {
    color: white;
    text-decoration: none;
}

/* Main styles */
main {
    padding: 20px;
}

/* Footer styles */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
